/**
 * Created V/12/04/2019
 * Updated V/23/07/2021
 *
 * Copyright 2019-2021 | Fabrice Creuzot <fabrice~cellublue~com>
 * Copyright 2019-2021 | Jérôme Siau <jerome~cellublue~com>
 * https://github.com/kyrena/openmage-shippingmax
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL) as published
 * by the free software foundation, either version 2 of the license, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but without any warranty, without even the implied warranty of
 * merchantability or fitness for a particular purpose. See the
 * GNU General Public License (GPL) for more details.
 */

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& global &&& */
#shippingmaxDialog * { margin:0; padding:0; }

#shippingmaxDialog {
	position:fixed; top:0; right:0; bottom:0; left:0; width:100%; height:100%; text-align:center; z-index:99000;
	background-color:rgba(0, 0, 0, 0.65); opacity:1;
}

#shippingmaxBox {
	position:relative; top:5%; display:inline-flex; width:85vw; max-width:inherit; height:80%; overflow:hidden;
	border-radius:0; background-color:#FFF; box-shadow:0 0 2.5em #111; opacity:1;
}

#shippingmaxBox iframe { width:100%; height:100%; border:0; }
#shippingmaxBox iframe.loader + div.loader { display:block; }

#shippingmaxBox div.loader {
	display:none; position:absolute; top:0; right:0; bottom:0; left:0;
	border:5px solid white; background-color:rgba(0, 0, 0, 0.5); cursor:wait;
}

@media screen and (max-width:991px) {
	#shippingmaxBox { top:0; width:100vw; height:100%; }
}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& config &&& */
img.logo.shippingmax {
	float:right; display:inline-block; margin:0 0 0.5em 2em; max-width:200px; max-height:50px;
	image-rendering:optimizeQuality; image-rendering:-moz-crisp-edges;
}

div.comment.shippingmax { padding-bottom:1em; }
div.comment.shippingmax + table { clear:both; }

textarea.shippingmax { margin-left:-206px; width:480px !important; }

.grid table.shippingmax thead tr.headings th {
	position:sticky; top:37px; padding:2px 5px;
	background:url("../../../images/sort_row_bg.gif") 0 50% repeat-x;
}

.grid table.shippingmax { margin:5px; width:calc(100% - 10px); }
.grid table.shippingmax td { vertical-align:middle; line-height:15px; }
.grid table.shippingmax tr.even.todo td { background:lime !important; }
.grid table.shippingmax tr.odd.todo td  { background:yellow !important; }
.grid table.shippingmax tr.even:hover td { background:#DDD !important; }
.grid table.shippingmax tr.odd:hover td  { background:#DDD !important; }

.grid table.shippingmax input, .grid table.shippingmax select { width:45px; height:2em; text-align:center; border:0; background:transparent; }
.grid table.shippingmax input:hover, .grid table.shippingmax select:hover { background:white !important; }

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& order new &&& */
body.adminhtml-sales-order-create-index .shipment-methods dd + dt { margin-top:8px; padding-top:8px; border-top:1px solid #CCC; }
body.adminhtml-sales-order-create-index .shipment-methods label { display:inline-block; padding-left:2px; vertical-align:middle; cursor:pointer; }
body.adminhtml-sales-order-create-index .shipment-methods button { display:inline-block; margin-top:5px; }

body.adminhtml-sales-order-create-index .shipment-methods .shippingmax { margin:3px 0; cursor:pointer; }
body.adminhtml-sales-order-create-index .shipment-methods .shippingmax .addr { font-style:italic; }
body.adminhtml-sales-order-create-index .shipment-methods .shippingmax .col2-set { margin:4px 0 0; }
body.adminhtml-sales-order-create-index .shipment-methods .shippingmax .col2-set .content { padding:0 20px; }
body.adminhtml-sales-order-create-index .shipment-methods .shippingmax .col2-set .desc { margin:0; }